<div class="navbar-inner">
    <div class="container-fluid">
        <label class="brand"><%= pageTitle %></label>
        <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">登録先の組織 <%= tenantName %></p>
        </div><!--/.nav-collapse -->
    </div>
</div>
