/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  height: 12px;
  margin: 0 20px 3px 20px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  width: 12px;
  margin: 10px 0;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  height: 4px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 4px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-x:hover {
  transform: scale(1,1.8);
  transition: 0.2s linear;
}

.ps__thumb-x:active {
  transform: scale(1,1.8);
}

.ps__thumb-y {
  background-color: rgba(0,0,0,0.15);
  border-radius: 4px;
  width: 4px;
  /* there must be 'right' for ps__thumb-y */
  right: 4px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y:hover {
  transform: scale(1.8,1);
  transition: 0.2s linear;
}

.ps__thumb-y:active {
  transform: scale(1.8,1);
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
