# Copyright 2020 NEC Solution Innovators, Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#     http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

f/
*.pid
*.class


Thumbs.db
.DS_Store

spf/sources/node_server/src/conf/version
spf/sources/node_server/src/data/
spf/sources/node_server/src/logs/*
spf/sources/node_server/coverage.xml
spf/sources/node_server/eslint.xml
/build/

jenkins_local.sh

node_modules/

*.sdf
*.suo
*.opensdf
Debug/
Release/
ipch/

!.gitkeep
*.pyc

jest_0
coverage
npm-debug.log
docs
