@import "style.css";

body{
    padding-top: 60px;
    padding-bottom: 40px;
}

.ime-mode-disable{
    ime-mode:disabled;
}

/* ユーザ一覧 */
.user-list-tr th {
    white-space: nowrap;
}

.user-list-account {
}

.user-list-nickname {
}

.user-list-group {
}

.user-list-status {
    width: 10%;
    text-align: center !important;
}

/* ラベル表示 */
.display-control-label{
    padding-top: 5px;
}

/* 取り消し線 */
.line-through{
    text-decoration: line-through;
}

/*ライセンス管理のメッセージ表示 2015/9/10 v3/sp3 */
pre.license {
    border: none;
    background: white;
    color: red;
    font-weight: bold;
}
